<div class="container">
  <div class="row" [ngStyle]="{'margin-bottom':'30px'}">
    <div class="col-2" >{{inPerson.id}}</div>
    <div class="col-2" >{{inPerson.firstname}}</div>
    <div class="col-2" >{{inPerson.lastname}}</div>
    <div class="col-2" >{{inPerson.phone}}</div>
    <div class="col-2"><button type="button" name="button" class="btn btn-primary" (click)="onDeletePerson()">Удалить</button></div>
    <div class="col-2"><button type="button" name="button" class="btn btn-primary"  (click)="Edit()">Редактировать</button></div>
  </div>

  <form [formGroup] = "FormEdit">
  <div *ngIf="nowEdit" [ngStyle]="{'margin-bottom':'30px'}">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" FormControlName="firstname" placeholder="Имя" value="{{inPerson.firstname}}" #inputFirstname>
      </div>
      <div class="col">
  
        <input type="text" class="form-control" FormControlName="lastname" placeholder="фамилия" value="{{inPerson.lastname}}" #inputLastname>
      </div>
      <div class="col">
        <input type="text" [textMask] = "{mask:mask}" class="form-control" FormControlName="phone" placeholder="Телефон" value="{{inPerson.phone}}" #inputPhone>
      </div>
      <div class="col-2">
        <button class="btn btn-primary"
          (click)="onEditPerson(inputFirstname.value, inputLastname.value, inputPhone.value)">Сохранить</button>
      </div>
    </div>
  </div>
</form>
</div>



