<div class="container">
  <div class="row">
      <h2>Фильтры</h2>
  </div>
  <div class="row mt-2 mb-1">
    <div class="col-10">
      <input type="text" [(ngModel)]="searchFirst" class="form-control" placeholder="Поиск по имени">
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-10">
      <input type="text" [(ngModel)]="searchLast" class="form-control" placeholder="Поиск по фамилии">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <h2>{{title}}</h2>
  </div>
  </div>
  <app-person-view [inPerson]="person" *ngFor="let person of persons | searchFirstname:searchFirst | searchLastname:searchLast" (delete)='deletePerson($event)' (edit)="editPerson($event)"></app-person-view>
  <hr>
  <app-person-add (addperson)="onAddPerson($event)"></app-person-add>

  
