<div class="container">
  <h2>Добавить нового пользователя</h2>
  <form [formGroup]="FormAdd" >
  <div class="row">
    <div class="col-12">
      <input type="text" class="form-control" FormControlName = "firstname" placeholder="Имя" #inputFirstname>
    </div>
    <div class="col-12 mt-2">
      <input type="text" class="form-control" FormControlName = "lastname" placeholder="Фамилия" #inputLastname>
    </div>
    <div class="col-12 mt-2">
      <input type="text" [textMask]="{mask: mask}" class="form-control" FormControlName = "phone" placeholder="Телефон" #inputPhone>
    </div>
    <div class="col-12 mt-2">
      <button type="button" name="button" class="btn btn-primary" (click)="onAddPerson(inputFirstname.value, inputLastname.value, inputPhone.value)">Сохранить</button>
    </div>
  </div>
</form>
</div>
